

<h1>Actualizar Estacion de Servicio: <%= @gas_station.id_station %></h1>


<form class="form-inline">
  <div class="form-group">
    <label for="inputNombre" class="col-sm-5 control-label">Nombre Estacion</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputNombre" placeholder="<%= @gas_station.name %>">
    </div>
  </div>
</form>

<form class="form-inline">
  <div class="form-group">
    <label for="inputNombre" class="col-sm-5 control-label">Nombre Estacion</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputNombre"
             placeholder="<%= @gas_station.name %>">
    </div>
  </div>
</form>

<form class="form-inline">
  <div class="form-group">
    <label for="inputDireccion" class="col-sm-5 control-label">Direccion</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputDireccion"
            value="<%= @gas_station.address %>">
    </div>
  </div>
</form>

<p>
  <%= link_to 'Actualizar', gas_station_path(@gas_station), method: :patch, class: 'btn btn-default' %>

  <%= link_to 'Visualizar', @gas_station, class: 'btn btn-default' %>
  <%= link_to 'Eliminar', @gas_station, method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' %>
</p>
